.centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.25em solid darkgray;
  border-top-color: tomato;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
